<h1>Sobre este site</h1>
<p></p>
<h2>Como criar um front-end de um e-commerce utilizando Angular</h2>
<hr>
<h3>Bootcamp "Santander Bootcamp Fullstack Developer" - Digital Innovation One</h3>
<hr>
<p>
  Projeto desenvolvido com instruções de 
  <a href="https://www.linkedin.com/in/nathalia-corr%C3%AAa-bb6a9414b/" target="_blank">
    Nathalia Corrêa
  </a>
  na trilha de estudo do Bootcamp "Santander Bootcamp Fullstack Developer" da 
  <a href="https://dio.me" target="_blank">
    dio.me</a>.
</p>